body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  color: white; }
  .loader.hidden {
    display: none; }

.post {
  margin-bottom: 20px; }
